<h1>K jubileu Univerzity 17. listopadu</h1>
<p>V tomto akademickém roce oslavuje 10. výročí svého vzniku Univerzita 17. listopadu, která jako jediná v Československé republice systematicky připravuje zahraniční studenty na vstup na naše vysoké školy. V jejích posluchárnách se za uplynulých deset let vystřídalo okolo pěti tisíc mladých lidí, přibližně ze se sto zemí z celého světa. Většina z nich přišla z rozvojových zemí Asie, Afriky a Latinské Ameriky, aby se na půdě Univerzity 17. listopadu setkala při studiu bez ohledu na rasu, národnost a náboženství.</p>
<p>(…)</p>
<p>Právě v těchto státech, často dosud napadaných, diskriminovaných a bojkotovaných imperialisty, velmi palčivě vstupuje do popředí potřeba vysokoškolsky vzdělaných kádrů. Dostatečný počet inženýrů, lékařů, ekonomů, pedagogů a vědců, kteří jsou oddaní svému národu a pokroku, je při dnešním stavu rozvoje vědy a techniky základní podmínkou nejen úspěšného rozvoje hospodářství a blahobytu těchto zemí, ale v konečném důsledku také rozvoje jejich politické nezávislosti.</p>
<p>(…)</p>
<p>Důkazem toho, že jdeme správnou cestou, je také zkušenost, že v současnosti několik stovek absolventů úspěšně pracuje ve své vlasti – v rozvojových zemích v nejrůznějších oblastech hospodářství, jejichž okruh se otevírá Tanzanií, Keňou, Kongem, Súdánem, pokračuje přes Alžír, Maroko, Kamerun, Ghanu, Zambii, Nigérii do Peru, Bolívie, Brazílie, Vietnamu a uzavírá se v Iráku a Sýrii.</p> 
