mixin textovyEditor(data)
  -
    const hasGallery = data.galerie !== undefined;
    const layout = (data.nastaveni === undefined) || (data.nastaveni.layout === undefined) ? "" : data.nastaveni.layout

  .row.items.editors(class= hasGallery ? "with-submodule" : "")
    if (hasGallery)
      +gallery(data.galerie, layout)
      +editor-component(data.texty)
    else
      +editor-component(data.texty)

//- editor id must to be unique
mixin editor-component(editors)
  each editor in editors
    -
      //- text imported from file defined in JSON file in gulpfile.js line 346
      let text = editor.content;
      const id = typeof editor.id === 'number' ? `textovy-editor-${editor.id}` : editor.id

    .editor-container
      if ( editor.funkce === "cteni")
        //- reading mode means no user interaction
        //- nothing to store in db
        .editor(id= id)
          .canvas !{typeset(text)}
      else
        .editor(id= id data-editor=editor.funkce data-save= "html")
          case editor.funkce
            when "predznaceny"
              //- highlight special parts
              -
                if (editor.funkce === 'predznaceny') {
                  editor.predznaceni.forEach((textOption, index) => {
                    const data = Object.assign({ nazev: editor.nazev }, textOption);

                    const expression = new RegExp(textOption.vyraz, 'i');
                    //- defining HTML structure of premarked parts
                    text = text.replace(expression, `<span class="text-option" id="editor-${id}-text-option-${index}" data-text-option='${JSON.stringify(data)}'>${textOption.vyraz}</span>`);
                  });
                }
            when "zvyraznovani"
              //- add marker menu
              +marker-menu-prosemirror(id, editor.menu)
            when "psani"
              //- add writting menu
              +editor-toolbar(id)
            default
              p editor function #{editor.funkce} is not definated

          //- special HTML node for prepare input to editor
          //- also saved data in JSON format are loading from here
          .hidden(id=`prosemirror-content-${id}`) !{typeset(text)}
          //- editor instance
          .canvas(id=`prosemirror-editor-${id}`)


mixin marker-menu-prosemirror(id, items)
  //- on first look it has to be hidden
  //- choices are defined in JSON
  .contextual-menu-component(id="marker-menu-"+id class="hidden" data-component="contextual-menu")
    a.close
    .menu
      each item in items
        .menu-item(class="text-"+item.color data-color=item.color data-command-name= item.commandName data-command="toggle-class" data-marker-color= item.color) !{typeset(item.title)}

mixin editor-toolbar(id)
  //- now only buttom for removing all user's changes
  .editor-toolbar(id="toolbar-"+id)
    button.editor-toolbar-item.editor-toolbar-action-reset(tabindex="-1")= t.editor.reset[lang]
