<h1>Charta 77</h1>
<p>
Odpovědnost za dodržování občanských práv v zemi padá samozřejmě především na politickou a státní moc. Ale nejen na ni. Každý nese svůj díl odpovědnosti za obecné poměry, a tedy i za dodržování uzákoněných paktů, které k tomu ostatně zavazují nejen vlády, ale i všechny občany.
</p>
<p>
Pocit této spoluodpovědnosti, víra ve smysl občanské angažovanosti a vůle k ní, i společná potřeba hledat její nový a účinnější výraz přivedly nás k myšlence vytvořit CHARTU 77, jejíž vznik dnes veřejně oznamujeme.
</p>
<p>
CHARTA 77 je volné, neformální a otevřené společenství lidí různých přesvědčení, různé víry a různých profesí, které spojuje vůle jednotlivě i společně se zasazovat o respektování občanských a lidských práv v naší zemi i ve světě. Těch práv, která člověku přiznávají oba uzákoněné mezinárodní pakty, Závěrečný akt helsinské konference, četné další mezinárodní dokumenty proti válkám, násilí a sociálnímu i duchovnímu útisku, a která souhrnně vyjadřuje Všeobecná deklarace lidských práv OSN.
</p>
<p>
CHARTA 77 vyrůstá ze zázemí solidarity a přátelství lidí, kteří sdílejí starost o osud ideálů, s nimiž spojili a spojují svůj život a práci.
</p>
<p>
CHARTA 77 není organizací, nemá stanovy, stálé orgány a organizačně podmíněné členství. Patří k ní každý, kdo souhlasí s její myšlenkou, účastní se její práce a podporuje ji.
</p>
<p>
    [...]
</p>
<p>
Věříme, že CHARTA 77 přispěje k tomu, aby v Československu všichni občané pracovali a žili jako svobodní lidé.</p>
