<p>Vážení spoluobčané!</p>
<p>Kdybyste se právě dnes zeptali, jak prožívám slavnostní otevření nové trasy metra – řekl bych: ,,Jsem šťasten proto, že slovo, které jsme s panem primátorem právě před rokem dali vám vše, je dodrženo!“ – Fakt, že Jihozápadní Město (městská část, ke které přiléhá Zličín – poznámka autora cvičení) se od tohoto okamžiku stává nedílnou součástí středu historického jádra Prahy, neboť vagónem metra jsme tu za 12 minut, znamená, že dějiny otevřené výrokem kněžny Libuše, jsou i našimi dějinami, že od geniálních staveb Petra Parléře, až po nejposlednější fontánu, park či malostranský dvoreček, nás dělí jen skok! Ale totéž platí i pro všechny, kteří žijí v centru Prahy. Od této chvíle mají k nám cestu otevřenu.</p>
<p>JZM (Jihozápadní město) je teprve na počátku svého velikého rozmachu. Ale co je to proti tomu, co teprve přijde… Co nás čeká! JZM, a to mi věřte, bude jednou nádherná, barevná šťastná čtvrť. Myslím, že technika je v tomto ohledu opravdu zázračná. Dříve se v těchto končinách lovila vysoká zvěř. Ještě za dětství našich otců se jezdívalo v tato místa na celodenní výlety. Dnes… vzpomeneme-li si v 6 večer, že chceme být o sedmé v Národním divadle, není nic snazšího, nežli nasednout na kterékoliv z nových stanic metra.</p>
<p>„Dobrá věc se podařila!“</p>
